#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00ff03;
  background-color: rgba(0, 128, 128, 0.641);
  min-height: 100vh;
  text-align: center;
  padding-bottom: 10px;
}

.technology {
  font-size-adjust: 120%;
}