#footer {
  margin-bottom: 10px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 36px;
  width: 100%;
}

#footer img {
  height: 40px;
  width: 45px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}