.nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  color: white;
  margin: 0 auto;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}