#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00fff7;
  min-height: 100vh;
  align-items: center;
}

#home img {
  height: 25vh;
  width: 25vh;
}



body {
  background-color: black;
}