#projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: rgb(251, 251, 40);
  background-color: purple;
  min-height: 110vh;
  align-items: center;
  padding-bottom: 10%;
  padding-top: 2%;
}
